/** --------------------------------------------------------------------

  Accessible Breadcrumbs

--------------------------------------------------------------------- */

.breadcrumb-nav {
  background: #eee;
  border: 1px solid #ccc;
  font-size: .85em;
  margin: 0 0 2em;
  padding: .5em;
}

.breadcrumb-nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-nav li {
  display: inline-block;
}

.breadcrumb-nav li:not(:last-child)::after {
  border-bottom: .75ch solid transparent;
  border-left: .75ch solid #000;
  border-top: .75ch solid transparent;
  content: "";
  display: inline-block;
  margin-left: .75ch;
  margin-right: .5ch;
}

.breadcrumb-nav a {
  display: inline-block;
  font-weight: bold;
}

.breadcrumb-nav a:focus,
.breadcrumb-nav a[href]:hover {
  outline: 2px solid;
  outline-offset: 2px;
  text-decoration: none;
}

.breadcrumb-nav [aria-current] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumb-nav [aria-current][href]:hover,
.breadcrumb-nav [aria-current]:focus {
  outline: 4px solid;
}
